/** @format */
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  background-color: #f6f9fc;
  font-family: "Playfair Display", serif;
}

.page-container {
  margin: 0 auto;
  width: 70%;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  position: fixed;
  top: 35%;
  left: -30px;
  z-index: 1;
  border: 1px solid rgba(117, 16, 247, 0.5);
  transition: all 0.3s ease-in-out;
}

.navbar:hover {
  left: 0px;
}

.icon-bar {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.navbar i {
  color: #7510f7;
  font-size: 36px;
  float: left;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease-in-out;
  padding-left: 10px;
  padding-right: 10px;
  width: 56px;
  height: 60px;
}

.navbar i:hover {
  background-color: rgba(117, 16, 247, 0.5);
}

.navbar i:active {
  background-color: #ff5733;
  color: #ff5733;
}

.icon-bar {
  width: 100%;
  background-color: #ffffff;
  overflow: auto;
}

.type-wrap {
  color: #141c3a;
  font-size: 1.7rem;
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .type-wrap {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .information-item {
    word-break: break-all;
  }
}

/* INFORMATION CONTAINER */

.information-container {
  width: 100%;
  border-radius: 5px;
  border: 1px solid transparent;
}

.information-topbar {
  background-color: #e0dfe2;
  height: 30px;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.information-topbar-button-1,
.information-topbar-button-2,
.information-topbar-button-3 {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-left: 9px;
}

.information-topbar-button-1 {
  background-color: #f96256;
}

.information-topbar-button-2 {
  background-color: #fdbc3d;
}

.information-topbar-button-3 {
  background-color: #33c948;
}

.information-section {
  background-color: #5a5d7a;
  color: white;
  border: 1px solid transparent;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.information-section-position {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 0.1rem;
}

.information-item {
  margin-bottom: 25px;
  font-weight: bold;
  color: #f7f7f7;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 24px;
}

.information-item a {
  color: #6beffe;
  text-decoration: none;
}

.information-item :nth-child(2) {
  color: #e7d184;
  font-size: 16px;
}

/* INFORMATION CONTAINER */

/* PROJECTS CONTAINER */

.projects-container {
  margin-top: 15vh;
  width: 100%;
}

.projects-container h1 {
  margin: 0 auto;
  width: 100px;
  color: #7510f7;
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: solid thick #7510f7;
  letter-spacing: 0.4px;
}

.project-item {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 10vh;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 2.5px 4px 3px 2px #ccc;
  transition: 0.4s all ease-in-out;
}
.project-item:hover {
  transform: scale(1.2, 1.2);
}

.project-image1 {
  height: 450px;
  width: 300px;
  background-image: url("./images/image1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.project-image2 {
  height: 450px;
  width: 300px;
  background-image: url("./images/inviteme.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.project-image3 {
  height: 450px;
  width: 300px;
  background-image: url("./images/item10.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.project-image4 {
  height: 450px;
  width: 300px;
  background-image: url("./images/image6.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media only screen and (max-width: 1200px) {
  .project-image1,
  .project-image2,
  .project-image3,
  .project-image4 {
    display: none;
  }
  .project-item:hover {
    transform: scale(1, 1);
  }

  .project-item {
    display: flex;
  }

  .project-links {
    margin-bottom: 30px;
  }

  .project-information {
    padding-left: 0;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 678px) {
  .project-links button {
    margin-bottom: 10px;
  }
  .project-stack p {
    margin: 3px 3px;
  }

  .project-information {
    padding-left: 2vh;
    padding-right: 2vh;
  }
}

.project-information {
  padding-top: 8vh;
  padding-left: 5.5vh;
  padding-right: 2vh;
  background-color: #ffffff;
  color: #525f7f;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.project-information p {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-right: 5vh;
}

.project-information h3 {
  font-size: 24px;
  letter-spacing: 1px;
  color: #141c3a;
}

.project-stack {
  display: flex;
  flex-wrap: wrap;
}

.project-stack i {
  padding: 4px 6px;
  border: 1px solid #7510f7;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 30px;
  margin-right: 40px;
  font-size: 28px;
}

.project-links button {
  background-color: #ffffff;
  border: 1px solid #7510f7;
  border-radius: 5px;
  margin-right: 14px;
  padding: 10px 14px;
  background-color: #7510f7;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.project-links button:hover {
  opacity: 0.7;
  transform: translate(0px, -5px);
}

.project-links button span {
  color: white;
  margin-right: 10px;
}

.project-links button i {
  color: white;
}

.project-links button a {
  text-decoration: none;
}

.project-links button:nth-child(2) {
  background-color: white;
}

.project-links :nth-child(2) span {
  color: #7510f7;
}
.project-links :nth-child(2) i {
  color: #7510f7;
}

/*PROJECTS CONTAINER*/

/*CONTACT CONTAINER */

.contact-container {
  margin-top: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-container h1 {
  margin: 0 auto;
  width: 100px;
  color: #7510f7;
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: solid thick #7510f7;
  letter-spacing: 0.4px;
  font-size: 24px;
  text-align: center;
}

.contact-information {
  width: 70%;
  margin-top: 25vh;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 17vh;
}

.contact-information a {
  text-decoration: none;
  color: #141c3a;
  padding: 15px;
  transition: 0.15s all ease-in-out;
  font-size: 18px;
}

.contact-information span {
  padding: 15px;
  font-size: 18px;
}

.contact-information a:hover {
  border-bottom: 2px solid #141c3a;
  color: rgba(20, 28, 58, 0.6);
}

@media only screen and (max-width: 800px) {
  .bars {
    display: none;
  }

  .contact-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.devicon-git-plain {
  max-width: 2em;
}

/* if you want to change the original color */
.devicon-git-plain path {
  fill: #4691f6;
}

.iconify {
  color: purple;
}
